header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #eee;
}

header h1 {
    font-size: 24px;
    text-align: left;
}

header nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

header nav ul li {
    cursor: pointer;
}